<ion-header>
  
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button> 
    <ion-searchbar [(ngModel)]="searchQuery" (search)="onSearch($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- <ion-fab right top (click)="openCart()">
    <button ion-fab color="dark">
      <ion-icon name="md-cart"></ion-icon>
    </button>
  </ion-fab>   -->

  <!-- <ion-grid>
    <ion-row>
      <ion-slides #productSlides slidesPerView="2">
        <ion-slide *ngFor="let product of products">
          <ion-card>
            <img [src]="product.featured_src" />
          </ion-card>   
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>  -->

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let product of products" class="card-background-page" no-padding>
        <ion-card text-wrap (click)="openProductPage(product)" style="max-height:128px;">
          <img [src]="product.featured_src" />
          <div class="card-opacity"></div>
          <div class="card-title">{{product.title}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

   <!-- <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let category of categories" text-wrap (click)="openCategoryPage(category)">
        <ion-card no-padding>
          <img [src]="category.image" />
          <h2 style="text-align:center;">{{category.name}}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  -->

</ion-content>
