
<ion-header>

  <ion-navbar>
    <ion-title>{{category.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <!-- <ion-fab right top edge (click)="openCart()">
    <button ion-fab color="danger">
      <ion-icon name="md-cart"></ion-icon>
    </button>
  </ion-fab>  -->

  <!-- <ion-list>
    <ion-item *ngFor="let product of products" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.featured_src" />
      </ion-thumbnail>
      <h2>{{product.title}}</h2>
      <p>
        <span [innerHTML]="product.short_description.substr(0,50)+'...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list> -->

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-6 *ngFor="let product of products" text-wrap>
        <ion-card no-padding>
          <img [src]="product.featured_src" (click)="openProductPage(product)"/>
          <ion-row>
            <ion-col col-9>
              <h2>{{product.title}}</h2>
              <p [innerHTML]="product.price_html"></p>
            </ion-col>
            <ion-col col-3>
              <button ion-button icon clear item-end (click)="addToCart(product)" color="danger" style="height:70%!important;width:70%!important;font-size:23px;">
                <ion-icon name="md-add"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
